/* ----- Bouton du haut page d'accueil + btn commander ---- */

.btn, .btn2
{
    border: 0;
    background: linear-gradient(0deg, $color-primary 0%, $color-secondary 100%);
    padding: 0.75em 1.5em;
    font-weight: 500;
    font-size: 0.9em;
    border-radius: 100px;
    color: white;
    margin: 4% 0 5% 0;
    position: relative;
    cursor: pointer;
    transition-duration: 0.25s;
    z-index: 1;
    box-shadow: 0.25em 0.25em 10px rgba(0, 0, 0, 0.25);
    &:hover {
        background: linear-gradient(0deg, lighten($color-primary, 10%) 0%, lighten($color-secondary, 5%) 100%);
        box-shadow: 0.25em 0.25em 10px rgba(0, 0, 0, 0.50);   
    }
}

.btn
{
    height: 50px;
}

.btn2
{
    left: 24%;
    margin-bottom: 20%;
    padding: 4% 13%;;
}