footer
{
    background-color: #353535;
    color: white;
}

footer h1
{
    font-size: 1.25em;
    font-weight: lighter;
    margin: 0 0 5% 5% ;
    padding-top: 5%;
}

.footer_text
{
    margin-left:5%;
    padding-bottom: 5%;
}

.footer_text li
{
    margin-bottom: 2%;
}

footer a
{
    color: white;
    font-weight: 500;
}

.fa-utensils
{
    margin-right: 5%;
}

.fa-hands-helping
{
    margin-right: 3%;
}